/*#########*/
/*##Global##*/
/*#########*/

body {
  margin-top: 100px;
}

img {
  width: 100%;
  max-width: 100%;
}

h2 {
  margin: 0 0 20px 0;
}

/*#########*/
/* Typography
/*#########*/

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]::before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight:normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 10em;
  margin-left: auto;
  margin-right: auto;

}

/*########*/
/*Header*/
/*########*/

header.navbar {
  border-top: 5px solid #a71e22;
  border-bottom: 1px solid #a71e22;
}

header.navbar ul {
  margin-top: 30px;
}

header ul li {
  font-size: 1.25em;
  margin-left: 10px;
  padding: 3px;
}

header ul li:hover {
  color: #a71e22;
}

.main-logo {
  width: 200px;
  height: 90px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url('../img/main-logo.png') no-repeat;
  background-size: 100%;
}

/*#######*/
/*Banner*/
/*#######*/

.main-banner {
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-banner h2 {
  font-family: 'Arvo', serif;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #262626;
}

.sub-head {
  font-size: 24px;
  font-style: italic;
  line-height: 36px;
  text-align: center;
  margin: 0 auto;
  font: Georgia, 'Times New Roman', Times, serif;
  color: #666666;
}

/*############*/
/*## Services ##*/
/*############*/

.services .lead {
  font-size: 16px;
}
.ft {
  padding-bottom: 20px;
}

.ft-copy {
  padding: 10px;
}

.services {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f6f6f6;
}

.front {
  width: 90%;
  height: 150px;
  /*background: #CF1919;;*/
  text-align: center;
  color: inherit;
  background-image: -webkit-linear-gradient(top,#337ab7 0,#265a88 100%);
  background-image: -o-linear-gradient(top,#337ab7 0,#265a88 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#265a88));
  background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
}

.back {
  width: 90%;
  height: 150px;
  background: #f6f6f6;
  text-align: center;
}

/*############*/
/*## About ##*/
/*############*/

.about-wrapper {
  position: relative;
  z-index: 5;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../img/bg_pills.png");
  background-repeat: no-repeat;
  background-position: right center;
  opacity: .7;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*#######*/
/*Footer*/
/*#######*/

footer {
  width: 100%;
  background: #f6f6f6;
  border-top: 5px solid #a71e22;
  padding-top: 50px;
}

/*##########*/
/*#Carousel*#/
/*##########*/

  #slider1_container {
    position: relative;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    width: 1300px;
    height: 450px;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .slider1_images {
    cursor: move;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1300px;
    height: 500px;
    overflow: hidden;
  }

  .jssorb21 {
    position: absolute;
  }

  .jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
    position: absolute;
    /* size of bullet elment */
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 19px;
    color: white;
    font-size: 12px;
    background: url(../img/b21.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
  }

  .jssorb21 div { background-position: -5px -5px; }
  .jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
  .jssorb21 .av { background-position: -65px -5px; }
  .jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }

  .jssora21l, .jssora21r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url(../img/a21.png) center center no-repeat;
    overflow: hidden;
  }

  .jssora21l {
    background-position: -3px -33px;
    top: 123px;
    left: 8px;
  }

  .jssora21r {
     background-position: -63px -33px;
     top: 123px;
     right: 8px;
  }

  .jssora21l:hover { background-position: -123px -33px; }
  .jssora21r:hover { background-position: -183px -33px; }
  .jssora21l.jssora21ldn { background-position: -243px -33px; }
  .jssora21r.jssora21rdn { background-position: -303px -33px; }
